{
    padding: 0;
    margin: 0;

}
.box{
    border: 15px solid green;
    width: 200px;
    height: 200px;
    font-size: 12px;
    text-align: center;
    margin-left: 80px;
    background-image: url('https://tinypng.com/images/social/website.jpg');
    background-size: cover;
    margin-top: 10px;
    color:red;
}
.flex{
    border: 10px solid rgb(247, 247, 3);
    width: 50px;
    height: 100px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
#flexbox{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}