body{
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-loader{
    border: 20px solid rgb(107, 105, 233);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 20px solid rgb(129, 205, 14);
    animation-name: loader ;
    animation-duration: 6s;
    text-align: center;
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}