*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: aqua;
    border: 2px,solid,black;
    margin: 20px auto;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSItdzSjb5x6Ii2nykiYkB_gsjVYaW310_1ag&s');
    background-size: cover;
    background-position: center;
}
header{
    width:100%;
    color: white;
    position:fixed;
    font-size: 40px;
    background-color: black;
    text-align: center;
    z-index: 4;
}
.box{
    width: 300px;
    height:300px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.box1{
    background-color: red;
    top: 50px;
    left: 50px;
    z-index: 1;
    background-image: url('https://tinypng.com/images/social/website.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,5);
}
.box2{
    background-color: blue;
    top: 150px;
    left: 150px;
    z-index: 2;
    background-image: url('https://s3.amazonaws.com/appforest_uf/f1620252602606x249793593845965660/panda-happy.png');
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,3);
}
.box3{
    background-color: green;
    top: 300px;
    left: 300px;
    z-index: 3;
    background-image: url('https://freetinypng.com/images/logo.svg');
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,2);
}
h1{
    margin-top: 150px;
    margin-left: 800px;
    background-color: red;
    color: white;
    height: 50px;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    
} 